body {
	background-color: #202020;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	#video-container {
		height: 25vh;
		width: 100%;
	}
}

@media screen and (min-width: 481px) and (max-width: 800px) {
	#video-container {
		height: 30vh;
		width: 100%;
	}
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
	#video-container {
		height: 50vh;
		width: 100%;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1250px) {
	#video-container {
		height: 50vh;
		width: 100%;
	}
}

@media screen and (min-width: 1251px) {
	#video-container {
		height: 70vh;
		width: 100%;
	}
}
