body {
	background-color: #202020;
}

hgroup {
	align-items: center;
}

#container {
    background-color: #183d5c;
    margin-top: -16px;
}

#btnContainer {
	padding-left: 50px;
}

#enableBtn {
	font-size: 20px;
}

#video-container {
	width: 75%;
	height: 100%;
	position: relative;
}

#video-content {
	width: 100%;
	height: 100%;
}

#video {
	width: 100%;
	height: 100%;
}

.fullScreen {
	width: 100vw !important;
	height: 100vh !important;
}

#video-controls {
	display: block;
}

#seek {
	cursor: pointer;
	padding: 0;
}

.seek:hover + .seek-tooltip {
	display: block;
}

.seek-tooltip {
	width: auto;
	display: none;
	position: absolute;
	bottom: 0px;
	font-size: 12px;
	content: attr(data-title);
	font-weight: bold;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
}

#button-controls-container {
	width: 100%;
	margin: 0;
	align-items: center;
}

#volume {
	visibility: hidden;
}

#volumeSection:hover > #volume {
	visibility: visible;
}

.bottom-bar {
	position: absolute;
	bottom: 0;
	width: 97%;
	opacity: 0;
	margin-right: 0px;
	border: 0px;
	margin-top: 0px;
}

.bottom-bar:hover {
	opacity: 1;
}

.btn {
	color: white;
	border: none;
}

.btn:hover {
	color: orange;
}

.btn:focus {
	box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%);
}

img {
	width: 50%;
}

ul {
	list-style-type: none;
	font-size: 1.1vw;
}

#song-list-btn {
	max-height: 280px;
	overflow-y: auto;
} 

#video-row {
	margin-bottom: 150px;
	justify-content: center;
}

#editor-container {
	height: 100% !important;
	align-items: center;
}

footer {
	align-items: center;
	height: 10vh;
}

.row {
	margin: 0px !important;
}

@media only screen and (max-width: 1200px) {
    #volume {
      width: 7vw !important;
    }
}

@media only screen and (max-width: 900px) {
    #time-elapsed-container {
      display: none !important;
    }
	#volume {
		width: 10vw !important;
	}
}