<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		<%=title%>
	</title>
	<%- include('partials/head'); -%>
		<link rel="stylesheet" href="/index.css" />
		<script src="/recieve.js"></script>
</head>

<body class="text-white">

	<%- include('partials/navigation'); -%>

		<div id="indexContainer">

			<div id="video-row" class="row m-0 h-100">

				<div class="col-12 col-md-4 d-flex justify-content-center">
					<button id="hls-btn" class="btn btn-secondary">HLS</button>
				</div>
				<div class="col-12 col-md-4 d-flex justify-content-center">
					<button id="dash-btn" class="btn btn-secondary">DASH</button>
				</div>
				<div class="col-12 col-md-4 d-flex justify-content-center">
					<button id="cmaf-btn" class="btn btn-secondary">CMAF</button>
				</div>

				<!-- Good habits to keep controls for users that have JS turned off -->
				<div id="video-container" class="col-12 px-5 py-2" controls>
					<div class="row">
						<div class="col-12 col-md-9 px-3">
							<div class="row">
								<div class="col-12 col-sm-7 d-flex justify-content-center pb-2">
									<h1 id="song-title">MUSIC MIX</h1>
								</div>
								<div id="btnContainer" class="col-12 col-sm-3 d-flex justify-content-center pb-2">
									<button id="enableBtn" class="btn btn-secondary outVideo">Start Quiz</button>
								</div>
								<div id="video-content">
									<video id="video">
										Your browser does not support the video tag
									</video>
								</div>
								<!-- Custom controls are defined here -->
								<div id="video-controls">
									<div id="progress-bar-container" class="row">
										<progress id="progress-bar" value="0" min="0" class="d-none"></progress>
										<input class="seek" id="seek" value="0" min="0" type="range" step="1" />
										<div class="seek-tooltip" id="seek-tooltip">00:00</div>
									</div>
									<div id="button-controls-container" class="row d-flex justify-content-center px-4">
										<div id="left-controls" class="col-8 d-flex justify-content-left p-0">
											<div class="col-2 d-flex justify-content-left">
												<button id="play" class="btn">
													<span title="Play (k)" class="play-pause-icons"><i
															class="fa-solid fa-play"></i><i
															class="fa-solid fa-pause d-none"></i>
													</span>
												</button>
											</div>
											<div class="col-2 d-flex justify-content-left">
												<button id="next" class="btn">
													<span title="Next">
														<i class="fa-solid fa-forward-step"></i>
													</span>
												</button>
											</div>
											<div id="volumeSection" class="col-4 d-flex justify-content-left">
												<button id="volume-btn" class="btn">
													<span title="Mute (m)" class="volume-icons">
														<i class="fa-solid fa-volume-high"></i>
														<i class="fa-solid fa-volume-low d-none"></i>
														<i class="fa-solid fa-volume-xmark d-none"></i>
													</span>
												</button>
												<input class="volume" id="volume" value="1" type="range" max="1" min="0"
													step="0.01" />
											</div>
											<div id="time-elapsed-container"
												class="col-3 d-flex justify-content-center btn">
												<time id="time-elapsed">00:00</time>
												<span> / </span>
												<time id="duration">00:00</time>
											</div>
											<div class="col-1"></div>
										</div>
										<div id="right-controls" class="col-4 d-flex justify-content-right p-0">
											<div class="col-1 d-flex justify-content-left m-2">
												<button id="captioning-btn" class="btn">
													<span title="Subtitles (c)">
														<i class="fa-solid fa-closed-captioning"></i>
													</span>
												</button>
											</div>
											<div id="song-list" class="col-1 d-flex justify-content-left m-2">
												<div class="btn-group dropup">
													<button type="button" class="btn" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false">
														<span title="Song List">
															<i class="fa-solid fa-list"></i>
														</span>
													</button>
													<div id="song-list-btn" class="dropdown-menu overflow-auto">
													</div>
												</div>
											</div>
											<div class="col-1 d-flex justify-content-left m-2">
												<div id="playback-btn" class="btn-group dropup">
													<button type="button" class="btn" data-toggle="dropdown"
														aria-haspopup="true" aria-expanded="false" id="playback">
														<span title="Video Playback">
															<i class="fa-solid fa-gauge"></i>
														</span>
													</button>
													<div class="dropdown-menu" aria-labelledby="playback">
														<a class="dropdown-item"
															onclick="changePlayback(0.25);">0.25</a>
														<a class="dropdown-item" onclick="changePlayback(0.5);">0.5</a>
														<a class="dropdown-item"
															onclick="changePlayback(0.75);">0.75</a>
														<a class="dropdown-item" onclick="changePlayback(1);">Normal</a>
														<a class="dropdown-item"
															onclick="changePlayback(1.25);">1.25</a>
														<a class="dropdown-item" onclick="changePlayback(1.5);">1.5</a>
														<a class="dropdown-item"
															onclick="changePlayback(1.75);">1.75</a>
														<a class="dropdown-item" onclick="changePlayback(2.0);">2</a>
													</div>
												</div>
											</div>
											<div class="col-1 d-flex justify-content-left m-2">
												<button type="button" class="btn" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false" id="settings">
													<i class="fa-solid fa-gear"></i>
												</button>
												<div class="dropdown-menu" aria-labelledby="settings">
													<a class="dropdown-item">2160p<span><sup>4k</sup></span></a>
													<a class="dropdown-item">1440p<span><sup>HD</sup></span></a>
													<a class="dropdown-item">1080p<span><sup>HD</sup></span></a>
													<a class="dropdown-item">720p</a>
													<a class="dropdown-item">480p</a>
												</div>
											</div>
											<div class="col-1 d-flex justify-content-right m-2">
												<button id="fullscreen-btn" class="btn">
													<span title="Full screen (f)" class="screen-icons">
														<i class="fa-solid fa-expand"></i>
														<i class="fa-solid fa-compress d-none"></i>
													</span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-3">
							<div class="row">
								<div class="col-12 mt-4">
									<div id="video-info">
										<h5 id="videos-title">VIDEO'S TITLE</h5>
										<hr />
										<div class="col-12 justify-content-sm-center d-flex pt-2">
											<img id="songs-cover"></img>
										</div>
										<div class="video-info p-3 ">
											<div class="row">
												<div class="col-lg-5">
													<b>Song's Title:</b>
												</div>
												<div class="col-lg-7">
													<p id="songs-title"></p>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-5">
													<b>Author:</b>
												</div>
												<div class="col-lg-7">
													<p id="songs-author"></p>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-5">
													<b>Song's Genre:</b>
												</div>
												<div class="col-lg-7">
													<p id="songs-genre"></p>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-5">
													<b>Year:</b>
												</div>
												<div class="col-lg-7">
													<p id="songs-year"></p>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-5">
													<b>Full video:</b>
												</div>
												<div class="col-lg-7">
													<a style="text-decoration:none;" id="songs-fullvideo"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div id="other-videos">
										<h5>OTHER VIDEOS</h5>
										<hr />
										<div id="videosContainer" class="pt-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Video js -->
		<script src="/quiz.js"></script>
		<script src="/video.js"></script>
		<script src="/videoControls.js"></script>
		<script src="/index.js"></script>

		<%- include('partials/footer'); -%>
</body>


</html>